h1 {
    width: 156px;
    height: 69px;
    padding: 50px;
    display: inline;
}

h2{
    size: 30px;
}

p {
    size: 20px;
    color: gray;
}

span {
    display: inline;
    background-color: rgb(3, 3, 63);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 20px;
}

img {
    width: 246px;
    height: 180px;
}

.container {
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 20px;
    padding-left: 50px;
}

.flex {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    margin-top: 10px;
    size: 16px;
    color: #21243D;
    align-self: center;
}
